<nav class="mdl-layout--fixed-header">
  <header class="mdl-layout__header ">
    <div class="mdl-layout mdl-js-layout">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Werewolf</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="#">Home</a>
          <a class="mdl-navigation__link" href="#">{{name}}</a>
        </nav>
      </div>
    </div>
  </header>
</nav>