<div class="navbar-fixed">
<nav class="mdl-layout mdl-js-layout">
  <div class="nav-wrapper">
  <header class="mdl-layout__header ">
    <div class="mdl-layout mdl-js-layout">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Werewolf</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="#">{{name}}</a>
          <a class="mdl-navigation__link" href="#" onclick="">
            Sign Out
          </a>
        </nav>
      </div>
    </div>
  </header>
</div>
</nav>
</div>