<div>
<div class="imageSize">
<div class="player-card img-circle" data-id='{{ user_id }}' style='background: url("{{ profile_pic }}") center center no-repeat; background-size: cover;'>
  <span><i class="material-icons md-48"></i></span>
</div>
<div class="player-card-name">{{name}}</div>
</div>
</div>