<p class='role'>{{ displayRole }}</p>
<p class='description'>{{ description }}</p>
{{#if supplementary }}
<div>
    <label>Additional Information</label>
    <p>{{ supplementary }}</p>
</div>
{{/if}}
<div>
    <label>How to Win</label>
    <p>{{ win }}</p>
</div>

