<div class='player-card' data-id='{{ id }}'>
    <div class='portrait' style='background: url("{{ profile_pic }}") center center no-repeat; background-size: cover;'></div>
    <div class='info'>
    <span class='name'>{{ name }}</span>
    <span class='item'>ITEM</span>
</div>