<div class='player-card' data-id='{{ user_id }}'>
  <div class='picture' style='background: url({{ profile_pic }}) center center no-repeat;'>
  </div>
  <div class='info-bar'>
    <div class='name'>
      <span>{{ user_name }}</span>
    </div>
    <div class='item'>
      NA
    </div>
  </div>
</div>
