<div class="player-card mdl-card mdl-shadow--2dp" > </br>
  <button class="mdl-button mdl-js-button mdl-button--icon md-48" data-id='{{ user_id }}' style='background: url("{{ profile_pic }}") center center no-repeat;' onclick="window.location.href='/private'">
  </button>
  <span class="player-card-name">{{ name }} </span>
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span><i class="material-icons md-48">memory</i></span>
  </div>
</div>