<div class='game-board'>
  {{#each users }}
    <img src='{{ this.profile_pic }}' />
  {{/each}}
</div>

<div class='player-console'>
    <div class="game-chat">
      <ul id="messages"></ul>
      <form>
          <input type="text" id="message-input">
          <button type="submit">Send</button>
      </form>
    </div>

    <div class="game-info">
      <h2><span id='game-player-count'>1</span> / 3 Players</span></h2>
    </div>
</div>


<script type="text/javascript">
  let socket = io.connect();
  let user_id = '{{ user_id }}';
  let user_name = '{{ user_name }}';
  let game_id = '{{ game_id }}';

  socket.emit( 'subscribe to game', { game_id: game_id, user_id: user_id  } );

  $('form').submit( function(){
    socket.emit('chat message', { message: $('#message-input').val(), user_name: user_name, game_id: game_id });
    $('#message-input').val('');

    return false;
  });

  socket.on('chat message', function( msg ) {
    $('#messages').append($('<li>').text( msg["user_name"] + ": " + msg["message"] ));
  });

  socket.on('player joined', function (data) {
    let playerCard = Handlebars.compile(`{{> player_card data }}`);
    if (data.user_id != user_id) {

      $('.game-board').append(  )
    }
    $('#game-player-count').text(data.player_count);
  });




</script>
