<div class='game-board mdl-color--blue-grey-50'>
  <div class='players'>
    {{#each users }}
      {{> player_card this }}
    {{/each}}
  </div>
  <div class='extra-cards'>
    <div class='card'>
    </div>
    <div class='card'>
    </div>
    <div class='card'>
    </div>
  </div>
</div>

<div class='player-console mdl-color--blue-grey-50'>
    <div class="game-chat">
      <ul id="messages"></ul>
      <form>
          <input type="text" id="message-input">
          <button type="submit">Send</button>
      </form>
    </div>

    <div class="game-info">

    </div>
</div>


<script type="text/javascript">
  let socket = io.connect();
  let user_id = '{{ user_id }}';
  let name = '{{ name }}';
  let game_id = '{{ game_id }}';
  let role_info = {};

  socket.emit( 'subscribe to game', { game_id: game_id, user_id: user_id  } );

  /* CHAT Handlers */
  $('form').submit( function(){
    socket.emit('chat message', { message: $('#message-input').val(), name: name, game_id: game_id });
    $('#message-input').val('');

    return false;
  });

  socket.on('chat message', function( msg ) {
    $('#messages').append($('<li>').html(`<strong>${msg['name']}:</strong> ${msg['message']}`));
  });

  /* PLAYER Handlers */

  socket.on('player joined', function( data ) {
    if (data.user_id != user_id) {
      $('.game-board').append(Handlebars.templates.player_card( data ));
    }
    $('#game-player-count').text(data.player_count);
  });

  socket.on('game starting', function( data ) {
      $('.game-info').html('');
      $('.game-info').append(Handlebars.templates.player_game_info( data ));
      role_info = data;
  });

  $('.player-card').on('click', function () {
    if ( role_info.action ) {
      $('.player-card').removeClass('selected');
      $(this).addClass('selected');
      socket.emit('night-action', { id: user_id, role: role_info.title, target: $(this).data('id'), game_id: game_id } );
    }
  });

</script>
