<h2 class= 'welcome'> WELCOME </h2>
<div class='container'>
  <div class='each-card'>
    <div class='card-title'>
      <h3>How to play</h3>
    </div>
    <div class= 'description'>
      <div class='description-text'>
      Werewolf is an interactive game that is split into 2 teams: Villagers and Werewolves. If you are a villager, your goal is to pick out of the werewolves that are disguising themselves as villagers. If you are a werewolf, your goal is to stay hidden, blend in with the villager and avoid getting killed.
      </div>
    </div>
  </div>
  <div class='each-card'>
    <div class='card-title'>
      <h3>Roles</h3>
    </div>
    <div class='roles-top'>
      <img class='role-photos' src='/images/villager.png'>
      <img class='role-photos' src='/images/werewolf.png'>
      <img class='role-photos' src='/images/robber.png'>
      <img class='role-photos' src='/images/seer.png'>
    </div>
    <div class='roles-top-text'>
      <div class='roles-text'>villager</div>
      <div class='roles-text'>werewolf</div>
      <div class='roles-text'>robber</div>
      <div class='roles-text'>seer</div>
    </div>
    <br></br>
    <div class='roles-bottom'>
      <img class='role-photos' src='/images/hunter.png'>
      <img class='role-photos' src='/images/curator.png'>
      <img class='role-photos' src='/images/insomniac.png'>
      <img class='role-photos' src='/images/tanner.png'>
    </div>
    <div class='roles-bottom-text'>
      <div class='roles-text'>hunter</div>
      <div class='roles-text'>curator</div>
      <div class='roles-text'>insomniac</div>
      <div class='roles-text'>tanner</div>
    </div>
  </div>
</div>
<div class='join-game'>
    <div class="flex-item">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--cyan-800 mdl-color-text--grey-50" onclick="window.location.href='/game/join'">
        Join Game
      </button>
    </div>
</div>

