<h1 class= 'welcome'> Welcome to the village </h1>
<h3 class= 'watched'>you are being watched...</h3>
<body>
  <div class='join-a-public-game'>
    <div class="flex-item">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--cyan-800 mdl-color-text--grey-50" onclick="window.location.href='/game/join'">
        Join Public Game
      </button>
    </div>
  </div>
</body>
