<h1 class= 'welcome'> welcome to the village </h1>
<h3 class= 'watched'>you are being watched...</h3>
<body>
  <div class='join-a-public-game'>
    <button class = 'mdl-button mdl-js-button mdl-button--raised'>
      <a href='/game/join'>Join Public Game</a>
    </button>
  </div>
</body>