<h2 class= 'title'> HOW TO PLAY </h2>
<body>
  <div class='container'>
    <div class='each-card'>
      <div class='card-title'>
        <h3>About the game
      </div>
      <div class= 'description'>
        <div class='description-text'>
        Werewolf is an interactive game that is split into 2 teams: Villagers and Werewolves. If you are a villager, your goal is to pick out of the werewolves that are disguising themselves as villagers. If you are a werewolf, your goal is to stay hidden, blend in with the villager and avoid getting killed.
        </div>
      </div>
    </div>
    <div class='each-card'>
      <div class='card-title'>
        <h3>Roles</h3>
      </div>
      <div class='description'>
        <div class='description-text'>
         <img src='images/villager.png'>villager
         <img src='/images/hunter.png'>hunter
         <img src='../images/seer.png'>seer
         <img src='views/images/werewolf.png'>werewolf
         <img src='/views/images/robber.png'>robber 
         <img src='/term-project-werewolf/views/images/curator.png'> curator
        </div>
      </div>
    </div>
  </div>
  <div class='join-game'>
    <div class="flex-item">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--cyan-800 mdl-color-text--grey-50" onclick="window.location.href='/game/join'">
        Join Game
      </button>
    </div>
  </div>
</body>
