<div class='join-game-page'>
  <div class='mdl-card mdl-shadow--2dp game-description'>
    <h3>What is Werewolf?</h3>
    <div class='section'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
    </div>
    <div class='section'>
    <h5>Section header</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
    </div>
  </div>
  <div class='mdl-card mdl-shadow--2dp role-description'>
    <h3>Cast of Characters</h3>
    <div class='section role-description-flex'>

      <div class='role background-villager'>
      <h5>Villager</h5>
      <p>A simple villager, troubled by the events of late.</p>
      </div>

      <div class='role background-werewolf'>
      <h5>Werewolf</h5>
      <p>A werewolf in hiding.</p>
      </div>

      <div class='role background-seer'>
      <h5>Seer</h5>
      <p>The local mystic.</p>
      </div>

      <div class='role background-robber'>
      <h5>Robber</h5>
      <p>A thief passing through town.</p>
      </div>

       <div class='role background-insomniac'>
      <h5>Insomniac</h5>
      <p>Never able to fall asleep.</p>
      </div>

      <div class='role background-hunter'>
      <h5>Hunter</h5>
      <p>A game hunter.</p>
      </div>

      <div class='role background-curator'>
      <h5>Curator</h5>
      <p>The curator of local curious and doodads.</p>
      </div>



    </div>
  </div>
  <div class='mdl-card mdl-shadow--2dp launch-game'>
    <h3>Join a Game</h3>
    <div class='section'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--cyan-800 mdl-color-text--grey-50" onclick="window.location.href='/game/join'">Head for the Village</button>
  </div>
</div>

<!-- 

-->