
<div class="container-flex">
	<div class="row" >
		<div class="flex-item">
			<h1 class="intro">
				Hello {{name}}, <br> welcome to <strong>{{ title }}</strong>
			</h1>
		</div>
		<div class="flex-item">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--cyan-800 mdl-color-text--grey-50" onclick="window.location.href='/game/join'">
				Join Public Game
			</button> 
		</div>
	</div>
</div>

