<div class="lobby-info">
    <h2><span id='lobby-player-count'>1</span> / 3 Players</span></h2>
</div>

<div class="chat-container">
    <ul id="messages"></ul>
    <form>
        <input type="text" id="message-input">
        <input type="submit" value="Send">
    </form>
</div>

<script type="text/javascript">
  var socket = io.connect();
  
  socket.emit( 'subscribe to lobby', { lobby: {{ lobby_id }}, user_name: '{{ user_name }}' } );

  $('form').submit( function(){
    socket.emit('chat message', { message: $('#message-input').val(), user_name: '{{ user_name }}', lobby: {{ lobby_id }} });
    $('#message-input').val('');

    return false;
  });

  socket.on('chat message', function( msg ) {
    $('#messages').append($('<li>').text( msg["user_name"] + ": " + msg["message"] ));
  });

  socket.on('player joined', function (data) {
    $('#lobby-player-count').text(data.player_count);
  });
</script>