<div class="container-flex">
	<div class="row">
		<div class="flex-item">
			<h1> Werewolf </h1>
		</div>
		<div class="flex-item">
			<h3>A Delightfully Deceptive Game of Bluffing and Eating your Friends</h3>
		</div>
		<div class="flex-item">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="window.location.href='/private'">Login with Google</button>
		</div>
	</div>
</div>