#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pic{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.time-info {
    width:100%;
    margin:40px auto;
    text-align: center;
}

.time-info #counter {
    font-size:2em;
    color:red;
}

.game-board {
    width:100%;
    height:52%;
    border-bottom: 2px solid black;
}

.game-board .players {
    width:100%;
    padding:80px 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.player-console {
    display: flex;
    height:40%;
}

.game-chat {
    width:70%;
}

.game-chat #messages {
    height:85%;
    overflow-y:scroll;
    border-bottom:1px solid gray;
}

.game-chat form {
    display:flex;
    width: 100%;
    height:15%;
}

.game-chat form input {
    width:90%;
    height:100%;
    border:0;
    margin-left:0px;
    padding:10px;
}

.game-chat form button {
    width:10%;
    height:100%;
    background: gray;
    border:0;
    margin:0px;
    padding:10px;

}

.image-circular{
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
    display: block;
}

.game-info {
    width:30%;
    border-left:2px solid black;
}


/* Player and Extra Cards */

.player-card {
    width:220px;
    height:220px;
    border-radius: 4px;
}

.mdl-button.md-48 {
    display: flex;
    margin: auto;
    margin-top: 10%;
    height: 48px;
    width: 48px;
    justify-content: center;
}

.player-card-name {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 10px;
}

.material-icons.md-48 { 
    display: flex;
    font-size: 48px;
    justify-content: center; 
}

.selected {
    border:4px solid red;
}


/* PLAYER GAME INFO */
.player-game-info {
    display:flex;
    padding-top:20px;
    padding-left:20px;
    flex-direction: column;
    justify-content: center;
}


.player-game-info div {
    margin-bottom:10px;
}

.player-game-info label {
    font-size:1.3em;
    font-weight:bold;
}

.player-game-info p {
    padding-left:10px;
}



