/* SECTIONAL LAYOUTS */

.game-wrapper {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.game-board {
    display: flex;
    flex-direction: column;
    height: 65%;
    border-bottom: 2px solid black;
}

.game-board .players {
    width:100%;
    height:65%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.player-console {
    display: flex;
    height:35%;
    border-bottom:2px solid black;
}

.game-chat {
    width:70%;
}

.game-chat #messages {
    height:85%;
    overflow-y:scroll;
    border-bottom:1px solid gray;
    background-color: rgba(255,255,255,0.7)
}

.game-chat form {
    display:flex;
    width: 100%;
    height:15%;
}

.game-chat form input {
    width:90%;
    height:100%;
    border:0;
    margin-left:0px;
    padding:10px;
    background-color:rgba(255,255,255,0.65);
}

.game-chat form button {
    width:10%;
    height:100%;
    background: #00838f;
    color:white;
    font-size:16px;
    border:0;
    margin:0px;
    padding:10px;
    cursor:pointer;
}

.game-chat form button:hover {
    background-color: #005961;
}

.game-info {
    width:30%;
    border-left:2px solid black;
    background-color:rgba(255,255,255,0.65);
}

/* CHAT */
#messages {
    font-family: 'Roboto', sans-serif;
}

#messages { 
    list-style-type: none; margin: 0; padding: 0; 
    overflow-y: scroll;
}

#messages li { 
    padding: 5px 10px;
}

#messages li:nth-child(odd) { 
    background-color:rgba(255,255,255,0.3); 
}

#messages .self {
    color:rgb(0,80,120);
}

#messages .phase {
    color:rgb(0,80,120);
}


/* END CORE SECTIONALS */

.round-info {
    height:60px;
    padding-top:50px;
    text-align: center;
}

.round-info #counter {
    font-size: 34px;
    color:white;
    font-family:'Mirza', serif;
}

/* PLAYER CARDS */

.player-card {
    height:120px;
    width:240px;
    display: flex;
    flex-direction: column;
}

.player-card .portrait {
    height:85%;
    width:100%;
}

.player-card .info {
    height:15%;
    display: flex;
    justify-content: space-around;
}

.player-card span {
    display: inline-block;
    color:white;
    font-family: : 'Mirza', serif;
    font-size:18px;
    padding:8px;
}

/* PLAYER INFO */

.player-game-info {
    padding:10px 20px;
    overflow-y: scroll;
}

.player-game-info .role {
    font-size:3em;
    text-align: center;
    padding:25px 0px 0px 0px;
    font-family:'Mirza', serif;
}

.player-game-info .description {
    padding:25px 0px 0px 0px;
    color:black;
}

.player-game-info label {
    font-size: 1.5em;
    font-family: 'Mirza', serif;
    padding-left:5px;
}

.player-game-info p {
    padding-left:10px;
}


.selected {
    border:2px solid rgb(200,0,0);
}

/* RESULTS */

.dialog-results-display {
    border-radius:7px;
    padding-left:20px;
    padding-right:20px;
    background-color:rgba(255,255,255,0.65);
}

.dialog-results-display h3 {
    font-family: 'Mirza', serif;
}

.dialog-results-display table {
    border-radius:4px;
    background-color:rgba(0,0,0,0);
}

.dialog-results-display table tr {
    border-radius:4px;
    background-color:rgba(255,255,255,0.3);
}

.dialog-results-display table tr th {
    text-align: left;
}

.linkback {
    width:100%;
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
}

.linkback button {
    width:35%;
    text-transform: none;
}


