/*     Brook's Additions          */

.page-wrapper {
  position: absolute;
  bottom:0;
  top:0;
  left:0;
  right:0;
  background:url('../images/village_night.jpg') center center no-repeat;
  background-size: cover;
}

.join-game-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:100%;
  padding-top:60px;
}

.join-game-page .mdl-card {
  background-color:rgba(128,128,128,0.7);
  width:25%;
  height:600px;
  padding:10px 20px;
  margin-bottom: 60px;
}

.join-game-page .mdl-card h3, .mdl-card h5 {
  color:white;
  font-family: 'Mirza';
}

.join-game-page .mdl-card {
  color:white;
}

.join-game-page .mdl-card p {
  text-align: justify;
}

.join-game-page .mdl-card .section ul li {
  list-style-type: none;
}

.join-game-page .mdl-card .role-description-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:600px;
  justify-content: space-around;
}

.join-game-page .mdl-card .role-description-flex .role {
  display: flex;
  flex-direction: column;
  width:80%;
  height:60px;
  background-size: 50px 50px;
  border:1px solid white;
}

.background-villager {
  background:url('../images/villager.png') right center no-repeat;
}

.background-werewolf {
  background:url('../images/werewolf.png') right center no-repeat;
}
.background-seer {
  background:url('../images/seer.png') right center no-repeat;
}
.background-robber {
  background:url('../images/robber.png') right center no-repeat;
}
.background-insomniac {
  background:url('../images/insomniac.png') right center no-repeat;
}
.background-hunter {
  background:url('../images/hunter.png') right center no-repeat;
}
.background-curator {
  background:url('../images/curator.png') right center no-repeat;
}
.background-tanner {
  background:url('../images/tanner.png') right center no-repeat;
}

.join-game-page .mdl-card .role-description-flex .role h5,
.join-game-page .mdl-card .role-description-flex .role p {
  text-align: left;
  display:inline-block;
  margin:0px;
  padding:0px 10px;
}

.join-game-page .mdl-card .role-description-flex .role h5 {
  padding-top:0.75em;
}

.join-game-page .mdl-card .role-description-flex .role p {
  line-height: 1.2em;
}


